*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #212121;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.card-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
}
.card{
    width: 80%;
    padding: 20px;
    background-color: #fff;
    color: #212121;
    border-radius: 12px;
    text-align: center;
}
.card img {
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.title{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-top: 20px;
}
button{
    height: 40px;
    width: 150px;
    border:none;
    background-color: #212121;
    color: #fff;
    font-weight: 600;
    margin-top: 20px;
}
@media (min-width : 600px) {
    .card-container{
        flex-direction: row;
        gap: 10px;
    }
    .card{
        width: 49%;
    }
}
@media (min-width : 1024px) {
    .card-container{
        flex-direction: row;
        gap: 20px;
    }
    .card{
        width: 32%;
    }
    button{
        height: 40px;
        width: 180px;
    }
}
